body {
    background-color: black;
    color: white;
}

#body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

#container {
    display:flex;
    flex-direction: column;
    align-self: center;
    gap: 10px;
    width: max-content;
    align-items: center;
}

#data {
    all: unset;
    background-color: #222222;
    border-radius: 5px;
    color: white;
    font-size: xx-large;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 100px;
}

#continue {
    all: unset;
    background-color: #8080ff;
    border-radius: 5px;
    color: white;
    width: fit-content;
    user-select: none;
    padding: 13px;
    font-size: 18px;
}

#continue:hover {
    background-color: #C0C0FF;
}

#continue:disabled {
    background-color: #ccccff;
}