body {
    background-color: black;
    color: white;
}

#body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

#container {
    display:flex;
    flex-direction: column;
    align-self: center;
    gap: 10px;
    width: max-content;
    align-items: center;
}

#profile {
    all: unset;
    background-color: #222222;
    padding: 32px;
    border-radius: 5px;
    color: white;
    font-size: xx-large;
    width: fit-content;
}

#queuebtn {
    all: unset;
    background-color: #8080ff;
    padding: 16px;
    border-radius: 5px;
    color: white;
    font-size: x-large;
    width: fit-content;
    user-select: none;
}

#queuebtn:hover {
    background-color: #C0C0FF;
}

#queuebtn:disabled {
    background-color: #ccccff;
}